XML_Buoi4/DSSV.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- Định nghĩa kiểu dữ liệu dùng chung -->
  <xs:simpleType name="MaType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="TenType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="50"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Kiểu dữ liệu cho SĐT: bắt đầu bằng 0, theo sau là 9 số -->
  <xs:simpleType name="PhoneType">
    <xs:restriction base="xs:string">
      <xs:pattern value="0[0-9]{9}"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Kiểu dữ liệu cho tên khoa: chỉ chứa ký tự a-z -->
  <xs:simpleType name="TenKhoaType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-z]+"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Phần tử gốc -->
  <xs:element name="DSSV">
    <xs:complexType>
      <xs:sequence>

        <!-- Danh sách khoa -->
        <xs:element name="KHOA" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="MA" type="MaType"/>
              <xs:element name="TEN" type="TenKhoaType"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <!-- Danh sách lớp -->
        <xs:element name="LOP" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="MA" type="MaType"/>
              <xs:element name="TEN" type="TenType"/>
              <xs:element name="MAKHOA" type="MaType"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <!-- Danh sách sinh viên -->
        <xs:element name="SINHVIEN" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="MSSV" type="MaType"/>
              <xs:element name="HOTEN" type="TenType"/>
              <xs:element name="EMAIL" type="xs:string"/>
              <xs:element name="DIACHI" type="xs:string"/>
              <xs:element name="SDT" type="PhoneType"/>
              <xs:element name="MALOP" type="MaType"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

      </xs:sequence>
    </xs:complexType>

    <!-- Khóa chính -->
    <xs:key name="KhoaKey">
      <xs:selector xpath="KHOA"/>
      <xs:field xpath="MA"/>
    </xs:key>

    <xs:key name="LopKey">
      <xs:selector xpath="LOP"/>
      <xs:field xpath="MA"/>
    </xs:key>

    <xs:key name="SinhVienKey">
      <xs:selector xpath="SINHVIEN"/>
      <xs:field xpath="MSSV"/>
    </xs:key>

    <!-- Khóa ngoại -->
    <xs:keyref name="Lop_Khoa_Ref" refer="KhoaKey">
      <xs:selector xpath="LOP"/>
      <xs:field xpath="MAKHOA"/>
    </xs:keyref>

    <xs:keyref name="SV_Lop_Ref" refer="LopKey">
      <xs:selector xpath="SINHVIEN"/>
      <xs:field xpath="MALOP"/>
    </xs:keyref>

  </xs:element>

</xs:schema>
