XML_Buoi3/student_ID.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Định nghĩa phần tử gốc -->
    <xs:element name="school">
        <xs:complexType>
            <xs:sequence>
                <!-- Cho phép có nhiều student -->
                <xs:element name="student" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <!-- name là kiểu string -->
                            <xs:element name="name" type="xs:string"/>
                            <!-- date là kiểu ngày tháng -->
                            <xs:element name="date" type="xs:date"/>
                        </xs:sequence>
                        <!-- id là kiểu xs:ID, bắt buộc phải có -->
                        <xs:attribute name="id" type="xs:ID" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
