XML_Buoi3/student_IDREF.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="school">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="student" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="name" type="xs:string"/>
                            <xs:element name="date" type="xs:date"/>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:ID" use="required"/>
                    </xs:complexType>
                </xs:element>

                <xs:element name="enrollment" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:attribute name="studentRef" type="xs:IDREF" use="required"/>
                        <xs:attribute name="course" type="xs:string" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>

        <!-- Ràng buộc unique: Một sinh viên không được đăng ký 2 lần cùng một môn -->
        <xs:unique name="uniqueEnrollmentPerCourse">
            <xs:selector xpath="enrollment"/>
            <xs:field xpath="@studentRef"/>
            <xs:field xpath="@course"/>
        </xs:unique>

    </xs:element>

</xs:schema>
